<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<section class="prose flex flex-col justify-center items-center h-screen">

  <h1>Register</h1>

  <%= form_with model: @user, url: registers_path, html: {class: "flex flex-col justify-center items-center gap-4"} do |form| %>
    <%= form.text_field :username,
                    required: true,
                    autofocus: true,
                    autocomplete: "name",
                    placeholder: "Enter your username",
                    class: "input input-bordered" %>
    <%= form.email_field :email_address,
                     required: true,
                     autofocus: true,
                     autocomplete: "username",
                     placeholder: "Enter your email address",
                     value: params[:email_address],
                     class: "input input-bordered" %>
    <%= form.password_field :password,
                        required: true,
                        autocomplete: "current-password",
                        placeholder: "Enter your password",
                        class: "input input-bordered" %>
    <%= form.submit "Register", class: "btn btn-primary btn-wide text-white" %>
  <% end %>

  <br>

  <p>Already have an account ?
    <%= link_to "Login", new_session_path %>
  </p>
  <%= link_to "Forgot password?", new_password_path %>
</section>
