<%= render "partials/navbar" %>

<section class="flex flex-col">
  <% unless authenticated? %>
    <div class="prose flex flex-col p-4 text-center">
      <h1>Welcome to event Private Events Planner</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.</h3>
    </div>

    <div class="flex justify-center gap-4 p-4">
      <%= link_to "Login", new_session_path, class: "btn btn-primary text-white w-32" %>
      <%= link_to "Register", new_register_path, class: "btn btn-primary text-white w-32" %>
    </div>
  <% end %>

  <% if authenticated? %>
    <div class="p-4">
      <h1 class="text-4xl text-bold text-accent">Hosting Events</h1>
      <% if @hosting_events %>
        <% @hosting_events.each do |event| %>
          <div class="card bg-base-100 shadow-xl rounded">
            <div class="card-body">
              <h2 class="text-3xl text-bold card-title"><%= event.name %></h2>
              <p><%= event.description %></p>
              <div class="card-actions justify-center mt-4">
                <div>
                  <button
                    type="button"
                    class="btn btn-primary text-white"
                    onclick="modal_1.showModal()"
                  >Attendees List</button>
                  <dialog id="modal_1" class="modal">
                    <div class="modal-box">
                      <h3 class="text-2xl text-bold text-accent">Attendees</h3>
                      <% if event.attendees.any? %>
                        <ul class="mt-4">
                          <% event.attendees.each do |attende| %>
                            <li><%= attende.username %></li>
                          <% end %>
                        </ul>
                      <% else %>
                        <p>No attendees yet!</p>
                      <% end %>
                    </div>
                  </dialog>
                </div>

                <%= button_to "Cancel Events",
                event,
                method: :delete,
                data: {
                  turbo_confirm: "Are you sure ?",
                },
                class: "btn btn-error text-white" %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3>You doesnt host any events yet!</h3>
      <% end %>
    </div>

    <div class="p-4">
      <h1 class="text-4xl text-bold text-accent">Attending Events</h1>
    </div>
  <% end %>
</section>
