<div class="p-4">
  <%= link_to image_tag("arrow_back.svg"), events_path %>
</div>

<section class="prose flex flex-col items-center h-screen">
  <%= form_with model: @event, url: events_path, html: {class: "flex flex-col items-center gap-4"}  do |form| %>

    <%= form.label "Event Name" %>
    <%= form.text_field :name, class: "input input-bordered w-full rounded-none" %>

    <%= form.label :description %>
    <%= form.textarea :description,
                  class: "textarea textarea-bordered w-full rounded-none" %>

    <%= form.label :location %>
    <%= form.text_field :location, class: "input input-bordered w-full rounded-none" %>

    <%= form.submit "Create Event", class: "btn btn-primary btn-wide text-white" %>

    <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

  <% end %>
</section>
